nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: black #181818;
   
    font-size:45px;
    font-style:normal;
    font-weight:800;
    line-height:normal;

}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    border-radius:5px ;
    background:#FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px ;
    margin-bottom: 10px;
    margin-left: 20px;
}
nav > ul{
    display:flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right:50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.header{
    background-image: url(../images/v1049-42.jpg);
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width:100px 40px;
    length: 0px;
    margin-left: 250px;

}
.banner-greti{
    font-size: 45px;
    color:#474747;
    margin-bottom: 0;

}
.banner-gg{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}
.banerdes{
    margin-top: 2px;
}
.about{
    padding: 130px;
    border-radius: 10px;
  background-color: #fff8f3;
    margin:130px ;
}
.section-title{
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-description{

}
main{
    max-width: 1140px;
   margin:0 auto;
}
.about-info-cont{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title-description{
    justify-content: space-between;
    padding: 0px;
    text-align: center;
    margin-right: 3px;
}